



img {
    max-width: 100%;
}

.nav-link {
    color: aquamarine;
}

.navbar-nav .nav-link.active {
    color: rgb(224, 229, 227);
}

.navbar-brand {
    color: rgb(244, 164, 3);
}

.navbar-toggler {
    background-color: rgb(224, 229, 227) ;
}

.footer-text {
    color: rgb(0, 0, 0);
}

.footer {
    background-color: rgb(255, 255, 255);
}